# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

chroma/

.DS_Store


__pycache__/

package-lock.json

# Packaged Backend
package/


# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# AWS SAM
.aws-sam/
samconfig.toml

# python environement
.venv
venv

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
storageState.json

# local aws s3 buckets
s3/