# See the dotenv file in Discord for values
OPENAI_API_KEY=VALUE

MONGO_URI=VALUE
MONGO_DB_NAME=VALUE

# AWS ENV VARIABLES
AWS_ACCESS_KEY_ID=VALUE
AWS_SECRET_ACCESS_KEY=VALUE

S3_REGION=us-west-2
S3_BUCKET=VALUE

# Optional Values, see docs/development for langsmith configuration
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=default
LANGCHAIN_API_KEY=lsv2_pt_1234567


# TODO: these seem outdated, are they required? 
NAME=""
QDRANT_KEY=
