fastapi
sse-starlette
uvicorn
mangum
PyJWT
pydantic[email]
pydantic-settings
python-dotenv
boto3
pymongo>=4.5
openai
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
chroma-hnswlib
langgraph
langgraph-checkpoint
tqdm
pypdf
PyPDF2
typing_extensions
python-multipart